html {
    color-scheme: light dark; /* This site supports both light and dark mode */
}

:root { /* Default Light Mode colors */
    --primary-color: rgba(0, 0, 0, 0.9);
		--title-color: rgba(0, 0, 0, 1);
    --primary-background: #FFFADD;
		--content-background: #f9f3d0;

}

@media(prefers-color-scheme: dark) {
    :root { /* Dark Mode colors */
        --primary-color: #abb2bf;
				--title-color:#e06c75;
        --primary-background: #21252b;
				--content-background: #282c34;
    }
}

body {
    color: var(--primary-color);
    background: var(--primary-background);
}

h1,h2,h3,h4,h5,h6{
  font-family: "Menlo", "Consolas", "DejaVu Sans Mono", monospace;
	color: var(--title-color);

}
summary{
	color: rgba(0, 0, 0, 0.1);
}
.row {
    background-color: var(--content-background);
    border-radius: 10px;
    /* color: rgba(0, 0, 0, 0.8); */
}
/* body{
  background-color: #FFFADD;
} */
pre{
  border-radius: 10px;
}

.link {
  padding: 15px 10px;
  font-size: 26px;
  text-decoration: none;
  position: relative;
  color: #222;
  display: inline-block;
  line-height: 1;transition: 0.3s;

}
a.link:hover{
    color: #222;
  }

.link-box {
  margin: 15px 0;
}

.link:after{
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 15px;

  background-color: red;
  opacity: 0.3;
  transition: 0.3s;
  width: 100%;
  z-index: -1;
}
@media all and (pointer:fine) {
  .link:hover:after {
    height: 100%;
    opacity: 0.6;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);

  }


  .link:hover {
    transform: translateY(-3px);
  }
  .button:hover {
    background-color: #00658b
  }

  .button:hover svg {
    transform: rotate(360deg)
  }
}

.link-box:nth-child(2) .link:after {
  background-color: #aadc76;
}
.link-box:nth-child(3) .link:after {
  background-color: #ff6189;
}
.link-box:nth-child(4) .link:after {
  background-color: #78dce9;
}
.link-box:nth-child(5) .link:after {
  background-color: #fc9968;
}
.link-box:nth-child(6) .link:after {
  background-color: #a9a9a9;
}
.link-box:nth-child(7) .link:after {
  background-color: aqua;
}
.link-box:nth-child(8) .link:after {
  background-color: darkorange;
}

.link-box:nth-child(9) .link:after {
  background-color: dodgerblue;
}
.link-box:nth-child(10) .link:after {
  background-color: tomato;
}

.link-box:nth-child(11) .link:after {
  background-color: #78dce9;
}

.link-box:nth-child(12) .link:after {
  background-color: #a9a9a9;
}

.link-box:nth-child(13) .link:after {
  background-color: tomato;
}

.link-box:nth-child(14) .link:after {
  background-color: tomato;
}

.box {
  margin-top: 40px;
}


.title{
  margin: 1em 0;
}

.code, .high {
  line-height: 1;
  display: inline-block;
  margin-right: 4px;
  padding: 3px 6px;
  font-family: monospace;
  font-family: 'Anonymous Pro', monospace;
  color: #fff;
  border-radius: 4px;
  background-color: #2c292d;
  white-space: nowrap;
}

.code {
  display: block;
  overflow: auto;
  padding: 15px 25px;
  line-height: 1.5;

}

.code_text {
  white-space: normal
}

.grey {
  color: #a9a9a9
}

.blue {
  color: #78dce9
}

.green {
  color: #aadc76
}
.red {
  color: #ff6189
}

.orange {
  color: #fc9968!important;
}

.purple {
  color: #aa9ef2
}
.yellow {
  color: #ffd865!important;
}
