@font-face {
    font-family: 'orosko';
    src: url('assets/fonts/OROSKO.ttf');
}

/*.bg-warning {
    background-color: #2B3A42!important;
}
.text-warning {
    color: #BDD4DE!important;
    }*/

body {
    overflow-x: hidden;
    /*font-family: 'Roboto', sans-serif;*/
    font-display: swap;
}

.nav-link {
    color: #fff;
}

.nav-link:focus,
.nav-link:hover {
    color: #193441;
    background-color: rgba(255, 255, 255, 95%);

    transition-duration: 0.5s;
}
.nav-item .nav-link{
   border-radius: 5px;
}
.nav-pills .nav-link.active {
    color: #193441;
    background-color: rgba(255, 255, 255, 95%);
   

}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255);
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(0, 0, 0);
}

.banner {
    height: 100vh;
    background: url(assets/img/bg.webp);
    background-color: #242526;
    background-size: auto;
    background-position: 50% 100%;
}


.company_name {
    color: #fff;
    display: inline-block;
    border: 5px solid #ffc107;
    max-width: 100%;
    padding: 20px 20px 10px 20px;
    margin-bottom: 20px;
    color: #ffc107;
    text-transform: uppercase;
    font-family: orosko, sans-serif;
    font-weight: bold;
    background: rgba(0, 0, 0, .4);
}

.company_description {
    width: 350px;
    max-width: 100%;
    margin: auto;
    padding: 10px;
    background: rgba(255, 255, 255, 70%);
    color: #354051;
    font-weight: bold;
    text-transform: uppercase;
}

.card-text {
    max-height: 150px;

}

.card-title {
    text-transform: uppercase;
    color: #ffc107;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
    font-weight: bold;
}

.product-card {
    overflow: hidden;
    text-align: center;
}

.product-title {
    text-shadow: 1px 2px 4px rgb(0 0 0 / 50%);
    font-weight: bold;
    text-transform: uppercase;
    color: #ffc107;
}

.product-img {
    width: 80%;
    height: 100%;
    border-radius: 21px 21px 0 0;
    overflow: hidden;
}

.product-card-img {
    max-height: 300px;
}

.text-shadow {}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    color: rgba(255, 193, 7)
        /*inherit*/
    ;
    background-color: #fff;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button {}

@media (min-width: 768px) {
    .flex-md-equal>* {
        flex: 1;
    }
}