@font-face {
  font-family: 'fontello';
  font-weight: 400;
  font-style: normal;
  src: url(./font/fontello.eot);
  src: url(./font/fontello.eot) format('embedded-opentype'), url(./font/fontello.woff) format('woff'), url(./font/fontello.ttf) format('truetype'), url(./font/fontello.svg) format('svg');
}

* {
  outline: none;
}

header {
  z-index: 5;
  width: 100%;
  background: rgba(0, 0, 0, .9);
}

h1,
.h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  line-height: normal;
  margin-bottom: 20px;
  letter-spacing: .3px;
}

h2,
.h2 {
  font-size: 24px;
  line-height: normal;
  margin-bottom: 20px;
  letter-spacing: .3px;
}

h3,
.h3 {
  font-size: 18px;
  line-height: normal;
  margin-bottom: 20px;
  letter-spacing: .3px;
}

h4,
.h4 {
  font-size: 16px;
  line-height: normal;
  margin-bottom: 20px;
  letter-spacing: .3px;
}

h5,
.h5 {
  font-size: 14px;
  line-height: normal;
  margin-bottom: 20px;
  letter-spacing: .3px;
}

h6,
.h6 {
  font-size: 13px;
  line-height: normal;
  margin-bottom: 20px;
  letter-spacing: .3px;
}

p {
  line-height: 1.5;
  /*font-size: 16px;*/
  margin-bottom: 10px;
}

a {
  -webkit-transition: color .3s linear;
  -moz-transition: color .3s linear;
  -ms-transition: color .3s linear;
  -o-transition: color .3s linear;
  transition: color .3s linear;
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #f5b900;
}

.content {
  margin-top: 100px;
  padding: 50px 15px;
}

.yellow {
  color: #f5b900;
}

.icon {
  font-family: 'fontello';
}

.top-nav {
  line-height: 90px;
  display: flex;
  -webkit-transition: line-height .3s linear;
  -moz-transition: line-height .3s linear;
  -ms-transition: line-height .3s linear;
  -o-transition: line-height .3s linear;
  transition: line-height .3s linear;
}

.min-top-nav {
  line-height: 60px;
  -webkit-transition: line-height .3s linear;
  -moz-transition: line-height .3s linear;
  -ms-transition: line-height .3s linear;
  -o-transition: line-height .3s linear;
  transition: line-height .3s linear;
}

.top-nav a {
  color: #fff;
}

.logo {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  flex-grow: 1;
}

.logo img {
  max-width: 100%;
  height: auto;
  max-height: 50px;
}

.top-nav__btn-menu {
  font-size: 30px;
  position: absolute;
  top: 0;
  right: 7px;
  cursor: pointer;
  color: #fff;
  border: 0;
  background: transparent;
}

.top-nav__menu ul {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-position: inside;
  list-style-type: square;
  justify-content: flex-end;
}

.top-nav__menu li {
  display: inline;
  float: left;
  margin: 0;
  padding: 0;
}

.top-nav__menu li a {
  font-weight: 700;
  float: left;
  padding: 0 18px;
  color: #fff;
}

.top-nav__menu li a:hover {
  color: #f5b900;
}

.phone {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 2;
  display: inline-block;
  margin-bottom: 5px;
}

.work-time {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1;
  display: inline-block;
  margin-bottom: 5px;
  color: #fff;
}

.banner {
  min-height: 600px;
  padding: 200px 0 100px;
  background: url(assets/img/slider3.jpg);
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: auto;
}

.banner__btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  width: 90%;
  padding: 20px 0;
  color: #000;
  background: #f5b900;
}

.banner__btn:hover {
  color: #f5b900;
  background: #000;
}

.banner-text {
  padding: 50px 0;
  background: rgba(255, 255, 255, .3);
}

.banner__title {
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: #000;
  text-shadow: 1px 1px #000;
}

.banner__sub-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.advantages {
  padding: 50px 0;
  background: #f5b900;
}

.advantages-item {
  position: relative;
  margin: 25px 0;
}

.advantages-img {
  position: absolute;
  margin: -20px 0 0 -20px;
  opacity: .3;
}

.advantages__content {
  position: relative;
  z-index: 1;
  max-width: 90%;
}

.advantages__title {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.advantages__description {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.3;
}

.availability {
  background: #f2f2f2;
}

.availability__title {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  margin-top: 100px;
}

.availability__description {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin-bottom: 100px;
}

.numbers {
  /*padding: 50px 0;*/
}

.numbers__title {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  margin-bottom: 50px;
}

.numbers-item__number {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
}

.numbers-item__title {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #999;
}

.map {
  min-height: 350px;
}

footer {
  background: #000;
}

footer p {
  font-size: 14px;
}

footer a {
  color: #fff;
}

.feedback {
  padding: 50px 0;
  background: #fff;
}

.feedback input[type='text'],
textarea {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  width: 100%;
  padding: 15px 0 10px 30px;
  color: #000;
  border: 0;
  border-bottom: 2px solid #000;
  background: none;
}

.feedback input::placeholder,
textarea::placeholder {
  color: #000;
}

textarea {
  width: 100%;
  margin: 20px 0;
  padding: 0;
}

.phone_number,
.vin_number {
  position: relative;
  display: inline-block;
  width: 290px;
  max-width: 49%;
  margin: 20px 0;
}

.phone_number:before,
.vin_number:before {
  font-family: 'fontello';
  position: absolute;
  bottom: 10px;
  display: inline-block;
  content: '';
}

.vin_number:before {
  content: '';
}

.submit {
  font-weight: 400;
  float: right;
  margin: 20px 0 0 20px;
  padding: 16px 30px;
  color: #fff;
  border: 0;
  border-radius: 0;
  background: #000;
}

.submit:hover {
  color: #000;
  background-color: #f5b900;
}

.feedback__title {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
}

.feedback__description {
  /**/
}

.feedback__description p {
  font-size: 14px;
  margin-bottom: 0;
}

.feedback__subtitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.requisites {
  font-family: 'Montserrat', sans-serif;
  padding: 10px 0;
  letter-spacing: 1px;
  color: #fff;
}

.offer {
  display: table-cell;
  vertical-align: bottom;
  color: rgba(255, 255, 255, .5);
}

.social__title {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: #fff;
}

.social__item-icon {
  font-family: 'fontello';
  font-size: 30px;
  margin-right: 10px;
  color: #fff;
}

.social__item-icon:hover {
  transition: all .3s linear;
  color: #f5b900;
}

@media (max-width: 992px) {
  .logo img {
    margin-left: -30px;
  }

  .advantages-img {
    margin: 0 0 0 25%;
  }

  .phone_number,
  .vin_number {
    max-width: 100%;
  }

  .phone {
    line-height: 1.2;
    margin: 0;
    margin-bottom: 5px;
    text-align: center;
  }

  .top-nav {
    line-height: 30px;
  }

  .top-nav__menu ul {
    line-height: 40px;
    flex-direction: column;
    background: #1f1f1f;
  }

}
